.skills-section {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  background-color: #000b19;
  padding: 80px 140px 80px 140px;
}

.left-col {
  transition: all 0.3s ease; /* Smooth transition when sticky */
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: start;
  width: 100%;
  .section-title {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 1%;
    color: var(--app-white);
  }
}

.left-col.sticky {
  position: sticky;
  top: 80px; /* When it reaches the top of the screen */
  z-index: 10;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 40px;
}
