.about-me-section {
    display: flex;
    flex-direction: column;
    font-family: var(--manrope-font);
    gap: 60px;
    padding: 80px 140px 0px 140px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-title {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 1%;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px
}