.layout {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  background: #ffffff;
  padding: 0 14.625rem;
  border: 1px red solid;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
